<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>To do</title>
</head>
<body>
    <header>
        <h1>To do List</h1>
        <form action="/add" method="post">
            <label for="tarefa">Tarefa:</label>
            <input type="text" id="tarefa" name="tarefa">
        </form>
    </header>
    <main>
        <section>
            <% list.forEach((element) => { %>
            <div>
                <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam minima ipsa quod temporibus optio veniam, vitae, labore voluptatum possimus dolorum impedit ipsum nesciunt ullam, consequatur corrupti aperiam qui repudiandae laboriosam?</p>
                <button type="submit">Editar</button>
                <button type="submit">Apagar</button>
            </div>
            <% }) %>
        </section>
    </main>
    <footer>
        <div>
            <h4>Todos os direitos reservados para Guilherme Silva</h4>
        </div>
    </footer>
</body>
</html>