*{
    padding: 0;
    margin: 0;
}

header{
    height: 10%;
    background-color: blue;
    text-align: center;
}

header form{
    margin-top: 20px;
    padding-bottom: 20px;
}

main{
    height: 80%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

section{
    padding-left: 80px ;
    padding-right: 80px;
}

div{
    border: 2px solid black;
    padding: 10px;
}

div p{
    padding: 10px ;
   
}

footer{
    height: 10%;
    background-color: blue;
   text-align: center;
}

footer h4{
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}